/* Element [Tag] */
body{
    /* background-color: skyblue; */
    /* border: 10px lightgrey solid; */
    margin: 10px;
}
header{
    background-color: rgba(119, 90,90, 0.6);
    position: fixed;
    top: 20px;
    width: 97.4%;
    background-color: rgba(125, 125,125, 0.7);
}
section{
    border: solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
}
article{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .topnav a:active {
    background-color: rgb(109, 128, 233);
    color: white;
  }

  




.title{
    font-size: 23px;
    font-weight: bold;
}
.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}

#desc_pro{
    height: 300px;
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile{
    width: 250px;
    height: 250px;
}

#pro_image{
    float:left;
    width:25%; 
}
#description{
    float: right;
    width: 75%;
}

#hobbies, #skills{
    border-bottom: 5px solid black;
}
#copyright{
    text-align: center;
    border-bottom: 5px solid black;
}

.table{
    display: block;
    margin: 10px;
}
.row{
    display: block;
}
.cell{
    display: inline-block;
    margin-right: 50px;
}
.container{
    float: right;
    width: 50%;
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }

input[type=submit] {
    background-color: rgb(139, 76, 175);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8345a0;
}

.container {

    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.mapouter {
    float: left;
    position: relative;
    text-align: right;
    /* height: 500px; */
    width: 50%;
    height: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}

.contact{
    height: 600px;
    border-bottom: 5px solid black;
}


@media screen and (max-width: 768px) {
    .topnav a {
        font-size: 10px;
    }

    #copyright {
        font-size: 10px;
    }

    #profile{
        width: 95%;
        height: auto;
        
    }

    body{
        font-size: 14px;
    }

    #desc_pro{
        height: 360px;
    }
     h1{
        font-size: 17px;
    }
    h3{
        font-size: 15px;
    }
    .mapouter{
        display: none;
    }
    .container{
        width: 100%;
    }
    
}

